<h1>Listing Pro con lists</h1>

<%= if @live_action in [:new, :edit] do %>
  <%= live_modal @socket, TemporaryHackWeb.ProConListLive.FormComponent,
    id: @pro_con_list.id || :new,
    title: @page_title,
    action: @live_action,
    pro_con_list: @pro_con_list,
    return_to: Routes.pro_con_list_index_path(@socket, :index) %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Title</th>

      <th></th>
    </tr>
  </thead>
  <tbody id="pro_con_lists">
    <%= for pro_con_list <- @pro_con_lists do %>
      <tr id="pro_con_list-<%= pro_con_list.id %>">
        <td><%= pro_con_list.title %></td>

        <td>
          <span><%= live_redirect "Show", to: Routes.pro_con_list_show_path(@socket, :show, pro_con_list) %></span>
          <span><%= live_patch "Edit", to: Routes.pro_con_list_index_path(@socket, :edit, pro_con_list) %></span>
          <span><%= link "Delete", to: "#", phx_click: "delete", phx_value_id: pro_con_list.id, data: [confirm: "Are you sure?"] %></span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<span><%= live_patch "New Pro con list", to: Routes.pro_con_list_index_path(@socket, :new) %></span>
