<h1>Listing Clickers</h1>

<%= if @live_action in [:new, :edit] do %>
  <%= live_modal @socket, TemporaryHackWeb.ClickerLive.FormComponent,
    id: @clicker.id || :new,
    title: @page_title,
    action: @live_action,
    clicker: @clicker,
    return_to: Routes.clicker_index_path(@socket, :index) %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Clicks</th>

      <th></th>
    </tr>
  </thead>
  <tbody id="clickers">
    <%= for clicker <- @clickers do %>
      <tr id="clicker-<%= clicker.id %>">
        <td><%= clicker.clicks %></td>

        <td>
          <span><%= live_redirect "Show", to: Routes.clicker_show_path(@socket, :show, clicker) %></span>
          <span><%= live_patch "Edit", to: Routes.clicker_index_path(@socket, :edit, clicker) %></span>
          <span><%= link "Delete", to: "#", phx_click: "delete", phx_value_id: clicker.id, data: [confirm: "Are you sure?"] %></span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<span><%= live_patch "New Clicker", to: Routes.clicker_index_path(@socket, :new) %></span>
