<h1>Show Clicker</h1>

<%= if @live_action in [:edit] do %>
  <%= live_modal @socket, TemporaryHackWeb.ClickerLive.FormComponent,
    id: @clicker.id,
    title: @page_title,
    action: @live_action,
    clicker: @clicker,
    return_to: Routes.clicker_show_path(@socket, :show, @clicker) %>
<% end %>

<ul>

  <li>
    <strong>Clicks:</strong>
    <%= @clicker.clicks %>
  </li>

</ul>

<span><%= live_patch "Edit", to: Routes.clicker_show_path(@socket, :edit, @clicker), class: "button" %></span>
<span><%= live_redirect "Back", to: Routes.clicker_index_path(@socket, :index) %></span>
