<section class="phx-hero">
  <h1>Counter</h1>
</section>
<section class="column">
  <div>
    <h2>The count is:
      <%= @count %>
    </h2>
  </div>
  <div>
    <button phx-click="dec">-</button>
    <button phx-click="inc">+</button>
  </div>
</section>
