<section class="phx-hero">
  <h1>Counter</h1>
</section>
<section class="row">
  <p>
    Below you'll find a counter.  The state of the counter is shared across all instances of this page using the <a href="https://phoenixframework.org/">Phoenix Framework</a> feature <a href=https://hexdocs.pm/phoenix_live_view/Phoenix.LiveView.html>LiveView</a>.
  </p>
  <h4>Try it!</h4>
  <p>
    Open this page in a second browser window and click either the + or -, and you'll see the count change in both windows.
  </p>
</section>
<section class="row">
  <section class="column">
    <h2>The count is:
      <%= @count %>
    </h2>
  </section>
  <section class="column">
    <button phx-click="dec">-</button>
    <button phx-click="inc">+</button>
  </section>
</section>
