<section class="phx-hero" phx-click="change_tagline">
  <h1>Welcome to Temporary Hack!</h1>
  <%= @tagline.text %>
</section>

<section class="row">
  <%= for post <- @posts do %>
    <section class="column">
      <h3><%= link post.title, to: "/posts/#{post.id}" %></h3>
      <p>
        <%= post.body %>
      </p>
    </section>
  <% end %>
</section>

<section class="row">
  <%= link "read more", to: Routes.post_path(@socket, :index) %>
</section>

<section class="row">
  <section class="column">
    <h2>Demos</h2>
    <ul>
      <li>
        <%= link "Counter", to: Routes.live_path(@socket, TemporaryHackWeb.Counter) %>
      </li>
    </ul>
  </section>
  <section class="column">
    <h2>@</h2>
    <ul>
      <li>
        <%= link "LinkedIn", to: "https://www.linkedin.com/in/akasprzok/" %>
      </li>
      <li>
        <%= link "Twitter", to: "https://twitter.com/akasprzok" %>
      </li>
    </ul>
  </section>
</section>
