<section class="flex flex-wrap mx-auto py-10 justify-center">
<%= for project <- @projects do %>
  <div class="max-w-sm rounded w-full shadow-lg bg-blue-200 m-2 p-2">
    <div class="font-bold text-xl mb-2"><%= link(project.title, to: project.url)%></div>
    <p class="text-gray-700 text-base"><%= project.description %></p>
    <%= if !Enum.empty?(project.shields) do %>
    <div class="pt-4">
    <%= for {shield, link} <- project.shields do %>
      <span class="inline-block"><%=shield |> img_tag() |> link(to: link) %></span>
    <% end %>
    </div>
    <% end %>
    <div class="px-6 pt-4 pb-2">
    <%= for tag <- project.tags do %>
      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"><%=tag%></span>
    <% end %>
    </div>
  </div>
<% end %>
</section>