<h1>Listing Projects</h1>

<table>
  <thead>
    <tr>
      <th>Github repo</th>
      <th>Hex</th>
      <th>Hex Docs</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for project <- @projects do %>
    <tr>
      <td><%= project.github_repo %></td>
      <td><%= project.hex %></td>
      <td><%= project.hex_docs %></td>
    </tr>
<% end %>
  </tbody>
</table>
